langchain
langchain-google-genai
langchain-community
langchain-core
ipykernel
pandas
numpy
matplotlib
duckduckgo-search
wikipedia
streamlit
langchain_chroma
langchain-aws
awscli
pypdf
boto3
python-dotenv
faiss-cpu
python-docx
python-pptx
bcrypt
unstructured
chromadb
